{% extends 'main/layout.html' %}

{% block title %} My profile {% endblock %}

{% block button %}<p class="p_buttn aligning"><a class="a_nav" href="{% url 'user_data' %}">Edit profile</a></p> {% endblock %}

{% block main %}
{% if data %}
{% for i in data %}
{% if i.type_file == 'video' %}
<section class="section">
    {% include 'main/video.html' %}
    {% include 'user_profile/button_delete_edit.html' %}
</section>
{% elif i.type_file == 'img' %}
<section class="section">
    {% include 'main/img.html' %}
    {% include 'user_profile/button_delete_edit.html' %}
</section>
{% else %}
<section class="section">
    {% include 'main/text.html' %}
    {% include 'user_profile/button_delete_edit.html' %}
</section>

{% endif %}
{% endfor %}
{% else %}
{% include 'main/no_contents.html' %}

{% endif %}

{% endblock %}

{% block description %} about {% endblock %}

{% block main_description %} My Profile {% endblock %}

