{% extends 'main/layout.html' %}

{% block title %} Login {% endblock %}

{% block main %}

<form class="section" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <p>{{login.username}}</p>
    <p>{{login.password}}</p>
    <p><button class="button" type="submit" name="next" value="{{next}}">Login</button></p>
</form>
{% if error %}
<p class="section" style="color:orange; font-size:140%;"> {{error}}
    {% include 'main/close_button.html' %}
</p>
{% endif  %}
{% endblock %}

{% block description %} about {% endblock %}

{% block main_description %} Login {% endblock %}


